.desabilitado{
    fill:black;
    stroke:black;
    stroke-width:1px;
    opacity: 0.3;
}
.marcadoAzul
{
    fill:none;
    stroke:blue;
    stroke-width:7px;
}
.marcadoVerde
{
    fill:green;
    stroke:black;
    stroke-width:1px;
}
.marcadoMorado{
    fill:#CC66CC;
    stroke:black;
    stroke-width:1px;
}
.marcadoMarron{
    fill:#CC6600;
    stroke:black;
    stroke-width:1px;
}
.marcadoCafe{
    fill:#5f0400;
    stroke:black;
    stroke-width:1px;
}
.marcadoRojo{
    fill:red;
    stroke:black;
    stroke-width:1px;
}
.marcadoNaranja{
    fill:orange;
    stroke:black;
    stroke-width:1px;
}
.marcadoTomate{
    fill:tomato;
    stroke:black;
    stroke-width:1px;
}
.diente{
    fill-opacity:0;
    stroke:black;
    stroke-width:1px;
}
.ausente
{
    fill:none;
    opacity: 0;
}
.corona
{
    fill:none;
    opacity: 0;
}
.endodoncia
{
    fill:none;
    opacity: 0;
}

.implante
{
    fill:none;
    opacity: 0;
}

.color{
    height: 30px;
    width: 30px;
    transition: all .2s ease;
    line-height: 0 !important;
}

.colorActive{
    width: 70px;
}

.tdCustom{
    width: calc(100%/9);
}
