/********** Definición de constantes para colores **********/
:root {

  --menu:#6a76be;
  --escritorio:#cfd4ed;
  --fondo-principal:#838ecd;
  --barra: #434fa5;
    --border:#293582;
      --texto:#5866b7;
}

.vertical-nav {
  min-width: 5rem;
  width: 5rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  background: var(--barra);
  overflow-y: auto;
  overflow-x: hidden;
}

.nav-link.text-dark {
  background: var(--barra);
  transition: all .5s ease;
}

.nav-link.text-dark:hover {
  background: var(--escritorio);
  transition: all .5s ease;
}

.nav-link.text-dark>i:hover {
  color: var(--menu);
}

.fa, .far, .fas {
  color:#fff ;
}

button.nav-link.text-dark {
  border: none;
  width: 80px;
}

/* For toggle behavior */
#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

.nav-item {
  text-align: center;
}

.nav-link {
  font-size: 28px;
  transition: all .5s ease;
}

.nav-link:hover {
  font-size: 33px;
  transition: all .5s ease;
}

.logout {
  width: 80px;
  position: absolute;
  bottom: 0;
  display: block;
  border-top: solid 3px #ffff;
}

ul.nav.flex-column.bg-white.mb-0 {
  border-top: solid 3px #ffff;
}

.py-2.px-1.mb-1 {
  position: relative;
  display: block;
}

.media.d-flex.align-items-center:first-child {
  margin-bottom: .5rem;
}

.img-thumbnail {
  background-color: #fff !important;
}

img.mr-3.rounded-circle.img-thumbnail.shadow-sm {
  position: relative;
  display: block;
  width: 4.5rem;
  height: 4.5rem;
  padding: .15rem !important;
}

li.nav-item:hover > a >i {
  color: var(--menu);
}

.n1:hover > button >i ,.n2:hover > form > button >i {
  color: var(--menu);
}

.scrollmenu {
  background: aqua;
}

@media only screen and (max-height: 504px) {
  .logout {
    position: relative;
  }
}

/********** Estilos del contenido **********/
.barra-busqueda {
  display: flex;
  justify-content: center;
  margin: 2.5rem 0;
}

.text-center {
  text-align: center;
}

.search-icon {
  margin-right: 0.7rem;
}

.search-icon button {
  background-color: var(--barra);
  color: white;
}

.search-icon button:hover {
  color: var(--escritorio);
}

.fa.fa-search {
  margin-right: 0.5rem;
}

.campo-busqueda {
  flex-basis: 60%;
  border-radius: 5px;
}

.principal {
  /*background-color: var(--fondo-principal);*/
  flex-basis: 70%;
  padding: 2rem 2rem 0 2rem;
  height: 100vh;
  overflow-y: auto;
}

.principal h1 {
  color: white;
}

.cuadro-empresa {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 2rem;
  padding: 0 5.5rem 0 5.5rem;
}

.cuadro-empresa img {
  height: 10rem;
  width: 10rem;
  min-width: 10rem;
  min-height: 10rem;
  max-width: 10rem;
  max-height: 10rem;
}

.cuadro-empresa p {
  margin: 0;
}

.btn-custom {
  color: white;
  background-color: var(--barra);
}

.btn-custom:hover {
  color: var(--escritorio);
}

.detalles-boton {
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.hidden {
  display: none !important;
}
.detalles-boton >dl> dt{
color:var(--barra);
}
.detalles-boton >dl> dd{
color:var(--fondo-principal);
}

.principal-completo {
  padding: 2rem;
}

.titulo-empresa {
  color:var(--menu);
  /*display: flex;
  flex-direction: column;*/
  text-align: left;
}

.img-sized {
  width: 10rem;
  min-width: 10rem;
  max-width: 10rem;
  height: 10rem;
}
/*
.imaemp {
    position: relative;
  /*  padding-left: 0;
    text-align: center;
}*/
/*estilos tabla/**/
/*
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0 1rem;
    white-space: nowrap;
    justify-content: flex-end;
  }*/
  td {
      text-align: center;
  }
  .custom-select.custom-select-sm.form-control.form-control-sm {
    margin: 0 1rem;
    float: right;
}

/***/

.principal-completo {
  /*  background-color: var(--fondo-principal);*/
    /*flex-basis: 70%;*/
    width: 100%;
    padding: 2rem 2rem 0 2rem;
    min-height: 100vh;
    height: 100%;
  /*  margin-left: 5rem;*/
}
.btnalin {
    margin-left: .8rem;
}



/**/
body{
    background: var(--escritorio) !important;
}

.content{
    position: relative;
    display: block;
    margin-left: 5rem;
    padding: 2.5rem;
}
.title{
   background: var(--menu);
   color: #fff;
   text-align: center;
   margin: 0;
   padding: 0.5rem 0;
   font-weight: lighter;
   border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.panel.panel-default {
    background: #fff;
    padding: 1rem 2.5rem;
}
.panel-heading{
    text-align: center;
}
.panel-title{
    text-align: center;
    margin: 1rem 0 3.9rem;
    font-weight: lighter;
    font-size: 40px;
    color: var(--texto) !important;
}
.title-content {
 display: block;
 position: relative;
 /*margin-bottom: 2rem;*/
}
