:root{
    --cards:#434fa5;
    --card:#cfd4ed;
    --tituloCard: #25338a;
    --textCard:#25338a;
    --menu:#6a76be;
    --escritorio:#cfd4ed;
    --fondo-principal:#838ecd;
    --barra: #434fa5;
    --norealizado:#ea3838;
    --bordernorealizado:#4a0e0e;
    --realizado:#21ce7e;
    --nrealizado:#0d7545;
    --textoOscuro:#3b4996;
    --textoAlt:#737ec2;
}

.vertical-nav {
    min-width: 5.7rem;
    z-index: 1;
}
.content_all {
    position: relative;
    display: block;
    overflow-x: hidden;
    width: 99vw;
    padding: 2rem 2rem 1rem 8.5rem;
}
img.mr-3.rounded-circle.img-thumbnail.shadow-sm {
    width: 4.9rem;
    height: 4.9rem;
}
.py-2.px-1.mb-1 {
    padding: 0 !important;
}
.media.d-flex.align-items-center {
    padding: 0px 5px;
}
.media.d-flex.align-items-center:first-child {
    margin-top: .5rem;
}
body{
  background: var(--escritorio) !important;
}

.card-body {
    padding-top: 0px !important;
}
.card-header {
    padding-bottom: 8px !important;
}
p.text-muted.text-sm-left.text-bold-600 {
    margin-bottom: 0;
}
.align-self-center.text-center {
    padding-top: 1.5rem;
}
#infoEstudios .fa-ellipsis-v:before {
    content: "\f142";
    color: black;
}
#dicom .fa-ellipsis-v:before {
    content: "\f142";
    color: black;
}
.btn-icon:hover > .text-success {
    color: #fff !important;
}
.card.text-white.box-shadow-0.bg-info {
    background-color: var(--menu) !important;
}
.breadcrumb {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    border: solid 2px #6a76be;
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.breadcrumb-item a{
  text-decoration:none;
  color:var(--textoOscuro);
  font-size: 20px;
  font-weight: bold;
}
.breadcrumb-item span{

  color:var(--textoAlt);
  font-size: 20px;
}
@media (max-width: 991.98px){
.heading-elements.visible {

    background: var(--menu) !important;
    color: #fff !important;
}
}
