:root{
    --cards:#434fa5;
    --card:#cfd4ed;
    --tituloCard: #25338a;
    --textCard:#25338a;
    --menu:#6a76be;
    --escritorio:#cfd4ed;
    --fondo-principal:#838ecd;
    --barra: #434fa5;
    --textoOscuro:#3b4996;
    --textoAlt:#737ec2;
    --border:#293582;

}
body{
  background-color: var(--escritorio);
}
.content > .content_card {
    margin: 0 0 0 5rem !important;
    padding: 1rem 3rem !important;
    animation: animatop 0.7s cubic-bezier(0.425, 1.14, 0.47, 1.125)  forwards;
}

.i-user{
  color:  var(--tituloCard);    font-size: 2rem;
  font-weight: 100;
  margin-bottom: 15px;
}

h3 {
  color: var(--tituloCard);
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}

p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: var(--textCard);
}
p.small {
font-size: 14px;
margin-bottom: 0px;
font-weight: 100;
}

.go-corner {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: var(--card);
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}
.container_to{
position: relative;
display: flex;
}

.card {
  text-decoration: none !important;
  display: block;
  position: relative;
  flex: 0 0 20rem;
  max-width: 20rem;
  width: 100%;
  /*max-height: 12.5rem;
  height: 12.5rem;*/
  height: auto;
  background-color: #fff;
  border-radius: 1rem;
  padding: 12px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  box-shadow: 7px 10px 10px #c3c4c5;
}
.card:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: var(--cards);
  height: 32px;
  width: 32px;
  border-radius: 32px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}
.card:hover:before {
  -webkit-transform: scale(20.9);
          transform: scale(20.9);
}

.card:hover p {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);
}
.card:hover > .go-corner > .go-arrow {
    color: var(--textCard);
}
.card:hover h3,.card:hover>.i-user {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #ffffff !important;
}
.card:hover>.i-user{
  transform: rotatey(360deg);
  transition: all .3s ease;
}
.content_card {
    flex: 0 0 100%;
    width: 94%;
  /*  padding: 3rem;*/
    margin-left: 0px;
}

h2.title-content {
    font-weight: 400;
    padding: 0rem 1rem 1rem;
    display: block;
    width: 100%;
    color: #434fa5;
}
fieldset{
  padding: 0px !important;
}
.breadcrumb {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    border: solid 2px #6a76be;
}
.breadcrumb-item a{
  text-decoration:none;
  color:var(--textoOscuro);
  font-weight: bold !important;
  font-size: 20px;
}
.breadcrumb-item span{

  color:var(--textoAlt);
  font-size: 20px;
}
.btn-personalizado {
  color: white;
  background-color: var(--menu);
  border: 1px solid var(--menu);

}
.btn-personalizado:hover{
  color: #fff !important;
   background-color: var(--border)!important;
   border-color: var(--border)!important;
}
.custom-file-label{
  color: var(--menu);
  border: 1px solid var(--menu);
}
.custom-file-label::after {
  color: white;
  background-color: var(--menu);
}
.frmtext{
  border: 1px solid var(--menu);

}
.frmtext::placeholder{
  color: var(--menu);
}
/*Estilos modal*/
.modal-header {
    background: var(--menu);
    border-bottom: solid 4px var(--border) !important;
    color: #fff;
}
.modal-header .close {
    color: #fff;
}

.modal-body{
    position: relative;
    display: flex;
}


.modal-footer {
    border-top: solid .4rem #414da3 !important;
    background: #838ecd;
}
.btn-outline-danger,.btn-outline-success {
    color: var(--border) !important;
    border-color: var(--border)!important;
}
.btn-outline-danger:hover,.btn-outline-success {
    color: #fff !important;
    background-color: var(--border)!important;
    border-color: var(--border)!important;
}
.alert-warning {
    color: var(--border);
    background-color: var(--escritorio);
    border-color: var(--escritorio);
}
@media (min-width: 768px){
.turnt>.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
     max-width:80.333333%;}
}

.principal-completo {
  /*  background-color: var(--fondo-principal);*/
    /*flex-basis: 70%;*/
    width: 100%;
    padding: 2rem 2rem 0 2rem;
    min-height: 100vh;
    height: 100%;
  /*  margin-left: 5rem;*/
}
.btnalin {
    margin-left: .8rem;
}



/**/

.content{
    position: relative;
    display: block;
    margin-left: 5rem;
    padding: 2.5rem;
}
.title{
   background: var(--menu);
   color: #fff;
   text-align: center;
   margin: 0;
   padding: 0.5rem 0;
   font-weight: lighter;
   border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.panel.panel-default {
    background: #fff;
    padding: 1rem 2.5rem;
}
.panel-heading{
    text-align: center;
}
.panel-title{
    text-align: center;
    margin: 1rem 0 3.9rem;
    font-weight: lighter;
    font-size: 40px;
    color: var(--texto) !important;
}
.title-content {
 display: block;
 position: relative;
 /*margin-bottom: 2rem;*/
}
.input-group-prepend> span{
  background-color: var(--menu)!important;
}
.search{
      border: 1px solid var(--menu);
      color: var(--menu) !important;

}
.search::placeholder{
  color: var(--menu);
}
.search:focus{
  outline: none;
  box-shadow: none;
  border:1px solid var(--menu);
}
