.ql-align-left{
  text-align:right !important;
}
.ql-align-right{
  text-align:right !important;
}
.ql-align-center{
    text-align: center !important;
  }
  strong{
      font-size:20px !important;
  }
  .ql-indent-1 strong{
    font-size:14px !important;
  }
  body, code, kbd, pre, samp {
    font-family: Montserrat,Helvetica,Arial,serif;
}
.primario {
  background: #f26b3e !important;
  color: #fff;
}
#task-card .task-cat, .task-cat {
  font-size: .8rem;
  padding: 2px 4px;
  border-radius: 2px;
  background-clip: padding-box;
  font-weight: 300;
  color: #fff;
}
.btn, .btn-large, .btn-small {
  cursor: pointer;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  text-align: center;
  text-decoration: none;
  letter-spacing: .5px;
  color: #fff;
  background-color: #f26b3e;
}
.primario:hover{
  color: #fff;
  font-size:14px;
}
.imgleft{
  float:left;
  width: 200px;
  height: 180px;
}
.membretada{
  position: absolute;
  width: 226px;
  height: 300px;
  margin-top: -91px;
}
