/********** Definición de constantes para colores **********/
:root {

    --menu:#6a76be;
    --escritorio:#cfd4ed;
    --fondo-principal:#838ecd;
    --barra: #434fa5;
    --texto: #434fa5

     /*backgroundWizard*/
     --widback:#838ecd;
     /*colorNavsTabs*/
     --coloNavTab:#e3e6e4;
     /*colorImputEmpre,categoria,giro,btndash,iconoIMage,btnSubirArchivos*/
     --whiteemp:#fff;
     /*BAckgorundSelectCategoria,btnwizard,btndash*/
     --backCate:#414da2;
     /*borderbtnWizard*/
     --borderwid: #414da3;
     /*colorIconoIMagen*/
     --iconimagen:#838ECD;
     /*background btnfile*/
     --backfile:#B4BAE0;
     /*color btnfile*/
     --colfile:#8591CF;
     /*placeholder*/
     --placeholder:#cdd2eb;
     --textoAlt: #737ec2;
     --textoOscuro: #3b4996;
  }

/********** Estilos del contenido **********/

.content {
    margin-left: 5rem;
    display: flex;
    background-color: var(--escritorio);
    height: 100%;
    min-height: 100vh;
    flex-direction: column;
    padding: 0 2rem;
}

.content form {
    flex-basis: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formulario {
    display: flex;
}

.izquierda {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
}

.derecha {
    flex-basis: 70%;
    padding: 0 3rem;
}

.datos-empresa input {
    margin-bottom: 0.8rem;
    font-size: 0.9rem;
}

.area-estudios {
    display: flex;
    justify-content: center;
}

.area-estudios button {
    width: 10rem;
    font-size: 0.9rem;
}

.area-guardar {
    display: flex;
    justify-content: center;
}

.area-guardar button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 15rem;
}

.btn-custom {
    color: white;
    background-color: var(--barra);
}

.cambio-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cambio-logo .btn-file {
    width: 8rem !important;
}

/** Alertas **/
.alerts {
    position: absolute;
    left: 6rem;
    top: 1rem;
    width: 100%;
    z-index: 2;
}

/** Botón subir archivo **/
.btn-file  {
    position: relative;
    overflow: hidden;
    background-color: white;
    color: var(--barra);
    font-size: 0.9rem;
}

.btn-file:hover {
    background-color: var(--menu);
}

.btn-guardar:hover {
    background-color: var(--menu);
}

.btn-file input[type = file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: var(--whiteemp);
    cursor: inherit;
    display: block;
}

span.btn.btn-primary.btn-file {
    background: var(--backfile) !important;
    position: absolute !important;
    bottom: 10px;
    margin-left: 35px;
    color: var(--colfile);
    border: 1px solid #B4BAE0 !important;
    font-weight: bold !important;
}

.imagen-logo {
    width: 12rem;
    height: 12rem;
    margin-bottom: 1rem;
}

/******* Modal de selección de estudios **********/

i.fa.fa-file-alt.fa-fw.icon {
    padding: 16px;
    position: relative;
    width: 5rem;
    height:5rem;
    border-radius: 50%;
    display: inline-block;
    background: var(--colfile);
    font-size: 10px !important;
    margin-bottom: 10px;
    margin-right: 10px;
}


i.fa.fa-file-alt.fa-fw.icon:before {
    color: #fff;
    font-size: 3rem;
}


.links {
    color: #5866b7;
    position: relative;
    text-decoration: none;
    display: inline-block;
    vertical-align: 1rem;
}


.links:hover {
    color: #5866b7;
}

.categoria {
    flex:0 0 40%;
    max-width: 40%;
    height: auto;
    margin-right: .3rem;
    border-right: solid .2rem var(--borderwid) ;
    padding: inherit;
}

.estudios{
    flex: 0 0 60%;
    height: auto;
    max-width: 60%;
    margin-left: .3rem;
    border-left: solid .2rem var(--borderwid) ;
    padding: inherit;
}

.categoria .estudios{
    position: relative;
    width: 100%;
}

.actives{
    background: var(--borderwid) !important;
}

.custom-control{
    display: flex !important;
    flex-wrap: wrap;
}

.custom-control-label{
    font-weight: normal !important;
    color: #5866b7;
}

.custom-control-label::after {
    width: 1.5rem;
    height: 1.5rem;
    left: -2rem;
}

.custom-control-label::before {
    width: 1.5rem;
    left: -2rem;
    height: 1.5rem;
    border-radius: 50% !important;
}


.custom-control-input:checked~.custom-control-label::before {
    color: #fff !important;
    border-color: #838ecd !important;
    background-color: #838ecd !important;
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(183, 187, 208, 0.66) !important;
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: #838ecd;
}

.estudios_input {
    padding-bottom: 1rem;
}

.btn-primary:hover{
    background-color: var(--border) !important;
    
   }
.btn-outline-danger:hover {
    color: #fff !important;
    background-color: var(--border)!important;
    border-color: var(--border)!important;
}
.btn-outline-danger {
    color: var(--border) !important;
    border-color: var(--border)!important;
}

.modal-header {
    background: var(--menu);
    border-bottom: solid 4px var(--border) !important;
    color: var(--whiteemp);
}
.modal-header .close {
    color: var(--whiteemp);
}

.modal-body {
    position: relative;
    display: flex;
}

.modal-body form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}


.modal-footer {
    border-top: solid .4rem #414da3 !important;
    background: #838ecd;
}