:root {

  --menu:#6a76be;
  --escritorio:#cfd4ed;
  --texto:#838ecd;
  --colwhit:#fff;

}
body{
background:  var(--escritorio) !important;
}

.content_margin {
  margin-left: 5rem;
  transition: all 0.4s;
  position: relative;
  display: block;

}


.content_present{
    background-image: url(../../images/7774.jpg);
    position: relative;
    display: block;
    width: 100%;
    height: 55vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -100px
}
.content_menu{
  position: relative;
  display: block;
  width: 100%;
  height: 35vh;
}
.content_text{
  position: relative;
  display: block;
}

.content_text > h1, .content_text > h3{
  display: block;
  position: relative;
  color: var(--texto);
margin: 0px 0px 0px 80px;
}

.content_text > h1 {
    margin-top: 15px;
}

.reference{
  position: relative;
  display: flex;
  padding: 10px 200px 0px 200px;
  text-align: center;
}

.reference > div{
  position: relative;
  display: inline-block;
  width: 400px;

}
.reference > div > h3{
  color: var(--texto);

  font-weight: 400;
  font-size: 15px;

}

.reference .fas, .reference .far {
    color: var(--menu);
    position: relative;
    display: block;
    font-size: 50px;
    transition: all .3s ease;
}

.reference > div > a{
  background: var(--colwhit);
  border-radius: 50%;
  border: 5px double var(--menu);
  width: 130px;
  height: 130px;
  position: relative;
  display: block;
  margin: 0px auto 5px auto;
  padding-top: 33px;
  transition: all .3s ease;
}


.reference > div > a:hover{
transform: scale(1.1);
transition: all .3s ease;
}
