:root {
    /*background */
    --backcol:#CFD4ED ;
    /*color text*/
    --coltex:#5866B7;
    /*color border punteado,imput text,border bottn input,placeholder input*/
    --colbordmiddle:#838ECD;
    /*color btn*/
    --btcol:#6a76be;
    /*color text*/
    --blanc:#fff;
    /*icono*/
    --colicon:#CACFEA;

    
}
body{
    background: var(--backcol) !important;
}
.h1txt{
    color: var(--coltex);
    margin-left: 66px;
    padding: 2px;

}
.conten{
    position: inherit;
    width: auto;
    margin-left: 80px;
    
}

.fontim{
    position: relative;
    display: block;
    margin-left: 793px;
    margin-bottom: 96px;
    margin-top: -59px;
    width: 187px;
}
.clasic{
        font-size: 116px;
        vertical-align: middle;
        color:var(--colicon);
}
.contizq{
    border-right: 1px dashed var(--colbordmiddle);
    position: relative;
    width: 37.5%;
    margin-top: 4px;
    margin-left: 160px;
}
.contdere{
    position: relative;
    width: 50%;
    margin-top: -341px;
    margin-left: 60%;
}
.conticon {
    position: relative;
    display: block;
    margin-top: -222px;
}

.inpsty {
        background: transparent;
        border: none;
        border-radius: 0px;
        border-bottom: 2px solid var(--colbordmiddle);
        color:var(--colbordmiddle);
        font-weight: bold;
        font-size: 20px;   
        
    
}
.inpsty::placeholder{
    color:var(--colbordmiddle);
}
.inpsty:focus{
    background: transparent;
    color:var(--colbordmiddle);
    border: none;
    box-shadow: none;
    border-bottom: 2px solid var(--colbordmiddle);
    outline: none !important;
}
span.iconocolor {
    background: var(--blanc);
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 4.8em;
    color: var(--Cicon);
    display: inline-block;
    font-weight: bold;
    line-height: 6.5em;
    margin-left: 42%;
    text-align: center;
    width: 6.5em;
    font-size: 30px;
  }
  .grpicon{
      color:var(--colbordmiddle);
      font-size: 33px;
  }
  .texto{    
    margin-bottom: -1rem;
    margin-top: -34px !important;
    margin-left: 53px;
    text-align: justify;
    font-size: 15px;
    color: var(--colbordmiddle);
    
}
.btnclas {
        background:var(--btcol) !important;
        border-radius: 43px !important;
        vertical-align: middle !important;
        text-align: center !important;
        border-color: transparent !important;

    }

    
