
:root {

    --menu:#6a76be;
    --escritorio:#cfd4ed;
    --texto:#5866b7;
    --textoAlt: #737ec2;
    --textoOscuro: #3b4996;
    --border:#293582;
    --cite:#cccccd;
    --blc:#fff;
    --cltr:#ddd;
    --clfom:rgb(161, 165, 187);
    --mdlscll:#F5F5F5;
    --mldfotbr:#414da3;
    --mdlfottbk:#838ecd;
    --coldrp:#7f858a;
    --upli:#333639;
    --uplip:#EEE;
    --uplii:#7f7f7f;

  }
  body{
  background:  var(--escritorio) !important;
  }

  .Altaem, .lista, .alta{
    position: relative;
    display: inline-block;
  }
  .content{
      position: relative;
      display: flex;
      margin-left: 5rem;
      height: 100vh;
  }
  .alta.col-7 {
    height: 100vh;
}

  .alta{
      display:none;
  }

  .Altaem{
      background: var(--escritorio);
      padding: 50px;
  }
  .lista,.alta{
      background: var(--blc);
  }
  .Altaem > h2{
      position: relative;
      display:block;
      margin-top: 20px;
      margin-bottom: 40px;
      text-align: center;
      color: var(--menu);
  }
  .txt{
      position: relative;
      display:block;
      margin-top: 20px;
      margin-bottom: 40px;
      text-align: center;
      color: var(--menu);
  }

.attrib {
    padding: 0px 0px 20px 30px;
}


.imag {
    /*position: relative;
    display: block;
    background: url(../../images/64.jpg);
    max-width: 110%;
    width: 110%;
    height: 19rem;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -1.5rem;
    margin-top: 1rem;*/
    position: relative;
    display: block;
    background: url(../../images/64.jpg);
    /* max-width: 110%; */
    width: 110%;
    height: 19rem;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -0.95rem;
}
.imacru{
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 1rem;
    bottom: 0rem;
}
.imacru2{
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-top: -3.2rem;
    margin-left: -1rem;
}
.alta.col-7, .lista.col-7 {
    padding: 0px;
}
.content_Alta {
    position: relative;
    display: block;
    padding: 2rem 3rem;
}
table{
	background-color: var(--blc);
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	padding: 20px;
}

thead{
	background-color: var(--menu);
	border-bottom: solid 5px var(--border);
	color: var(--blc);
}

tr:nth-child(even){
	background-color: var(--cltr);
}

tr:hover td{
	background-color: var(--border);
    color: var(--escritorio);
    transition: all .3s ease;
}
tr td{
    color: var(--texto);
    transition: all .3s ease;
}

.Altaem_content1 {
    margin-left: 8rem;
}

input.form-control.form-control-sm,
.custom-select.custom-select-sm.form-control.form-control-sm {
    border: solid 1.5px var(--border);
    color: var(--border);
}
.form-control:focus {
    box-shadow: 0 0 0 0.2rem var(--clfom) !important;
}
label {
    color: var(--border);
}

.form-control.form-control-sm {
    position: relative;
    display: flex;
    float: left;
}
.page-item.active .page-link {
    background-color: var(--menu) !important;
    border-color: var(--border) !important;
}
.alta,.lista{
    overflow:hidden ;
}
.img{
    position: relative;
    display: flex;
    height: 40vh;
}
.content_Alta{
    position: relative;
    display: block;
    height: 60vh;
}

.alta, .lista {
    position: fixed !important;
    right: 0;
    bottom: 0;
    transition: all .5s ease;
}

.btn_altaemp{
    position: relative;
    display: block !important;
    margin: 2rem auto 0;
    background: var(--menu) !important;
    border-color: var(--border) !important;
}
.btn_altaemp:hover{
    background: var(--border) !important;
}

.btn-primary:hover{
 background-color: var(--border) !important;

}
.btn-primary{
color: var(--blc) !important;
background-color: var(--menu) !important;
border-color: var(--border) !important;
}
.btn-outline-danger:hover {
    color: var(--blc) !important;
    background-color: var(--border)!important;
    border-color: var(--border)!important;
}
.btn-outline-danger {
    color: var(--border) !important;
    border-color: var(--border)!important;
}
.modal-header {
    background: var(--menu);
    border-bottom: solid 4px var(--border) !important;
    color: var(--blc);
}
.modal-header .close {
    color: var(--blc);
}
#myModal{
    overflow-y: scroll;
}
#myModal::-webkit-scrollbar{
    width: 12px;
    background-color: var(--mdlscll);
}

.modal-footer {
    border-top: solid .4rem var(--mldfotbr) !important;
    background: var(--mdlfottbk);
}
/*subida de archivos masivos */
a, a:visited {
    outline:none;
    color:var(--menu);
}

a:hover{
    text-decoration:none;
}

section, footer, header, aside{
    display: block;
}


/*----------------------------
    The file upload form
-----------------------------*/


#upload{
    font-family:'PT Sans Narrow', sans-serif;
    background-color:var(--menu);

    background-image:-webkit-linear-gradient(top,var(--menu),var(--border));
    background-image:-moz-linear-gradient(top,var(--menu),var(--border));
    background-image:linear-gradient(top,var(--menu),var(--border));

    width:80%;
    padding:30px;
    border-radius:3px;
   /* margin: 0% auto 0%;*/
    box-shadow: 0 0 10px var(--texto);
}

#drop{
    background-color: var(--blc);
    padding: 40px 50px;
    margin-bottom: 30px;
    border: 20px solid var(--texto)(0, 0, 0, 0);
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    font-size:16px;
    font-weight:bold;
    color:var(--coldrp);
}

#drop a{
    background-color:var(--menu);
    border-color: var(--border) !important;
    padding:12px 26px;
    color:var(--blc);
    font-size:14px;
    border-radius:2px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;
    line-height:1;
}

#drop  a:hover{
    background-color:var(--border);
}

#drop input{
    display:none;
}

#upload ul{
    list-style:none;
    margin:0 -30px;
    border-top:1px solid  var(--border);
    border-bottom:1px solid  var(--border);
}

#upload ul li{

    background-color:var(--upli);

    background-image:-webkit-linear-gradient(top,  var(--border),  var(--border));
    background-image:-moz-linear-gradient(top,  var(--border), var(--border));
    background-image:linear-gradient(top,  var(--border),  var(--border));

    border-top:1px solid var(--border);
    border-bottom:1px solid  var(--border);
    padding:15px;
    height: 52px;

    position: relative;
}

#upload ul li input{
    display: none;
}

#upload ul li p{
    width: 144px;
    overflow: hidden;
    white-space: nowrap;
    color: var(--uplip);
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 100px;
}

#upload ul li i{
    font-weight: normal;
    font-style:normal;
    color:var(--uplii);
    display:block;
}

#upload ul li canvas{
    top: 15px;
    left: 32px;
    position: absolute;
}

#upload ul li span{
    width: 15px;
    height: 12px;
    background: url('../img/icons.png') no-repeat;
    position: absolute;
    top: 34px;
    right: 33px;
    cursor:pointer;
}

#upload ul li.working span{
    height: 16px;
    background-position: 0 -12px;
}

#upload ul li.error p{
    color:red;
}

@media (min-width: 768px) {
    .img {
        position: relative;
        display: block;
        background: url(../../images/64.jpg);
        max-width: 110%;
        width: 250%;
        height: 15rem;
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: -1.5rem;
    }
    .imacru{
        position: fixed;
        display: flex;
        flex-direction: column;
        margin-left: 75%;
        margin-top: 32%;
      }
    }

    .modal-body::-webkit-scrollbar{
        width: 12px;
        background-color: mdlscll;
    }
    ::-webkit-scrollbar-track{
        border-radius: 10px;
        background-color: var(--escritorio);

    }
    ::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background-color: var(--menu);
    }


    .seccion-navegacion {
        /*margin-top: 1rem;*/
        margin-bottom: 0.6rem;
    }

    .navegacion {
        color: var(--textoOscuro);
        margin-bottom: 0;
    }

    .navegacion a {
        text-decoration: none;
        color: var(--textoOscuro);
    }

    .navegacion a:hover {
        text-decoration: none;
        color: var(--menu);
    }

    .navegacion span {
        color: var(--textoAlt);
    }
    .scrollup  {
        position: fixed;
        right: 1rem;
        bottom: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 28px;
        background-position: center center;
       background: var(--border);
       border-radius: 50%;
       width: 2.5rem;
       height: 2.5rem;
       text-align: center;
       padding-top: .4rem;

    }
    #curp{
      text-transform:uppercase;
    }
