:root {
    --menu:#6a76be;
    --escritorio:#cfd4ed;
    --texto:#5866b7;
    --border:#293582;
    --cite:#cccccd;
    --textoAlt: #737ec2;
    --textoOscuro: #3b4996;
    --backwhite:#fff;
    --clrtr:#ddd;
    --scrlweb:#F5F5F5;
    --boxcha:#a1a5bb;
    --backswt:#000000;
    --bxcswt:#00000080;
    --backswtaf:#ffffff;
    --bxsw:#0000004d;
    --mdlfoo:#414da3;
    --mdlfobk:#838ecd;
}

body {
    background: var(--escritorio) !important;
}

.content {
    position: relative;
    display: block;
    margin-left: 5rem;
    padding: 2.5rem;
}

.title {
   background: var(--menu);
   color: #fff;
   text-align: center;
   margin: 0;
   padding: 0.5rem 0;
   font-weight: lighter;
   border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.panel.panel-default {
    background: #fff;
    padding: 1rem 2.5rem;
}

.panel-heading {
    text-align: center;
}

.panel-title {
    text-align: center;
    margin: 1rem 0 3.9rem;
    font-weight: lighter;
    font-size: 40px;
    color: var(--texto) !important;
}

::-webkit-scrollbar {
    width: 7px !important;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--escritorio);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--menu);
}

.title-content {
    display: block;
    position: relative;
}

.btn-primary {
   color: #fff !important;
   background-color: var(--menu) !important;
   border-color: var(--border) !important;
}

.seccion-navegacion {
    margin-top: 1rem;
    margin-bottom: 0.6rem;
}

.navegacion {
    color: var(--textoOscuro);
    margin-bottom: 0;
}

.navegacion a {
    text-decoration: none;
    color: var(--textoOscuro);
}

.navegacion a:hover {
    text-decoration: none;
    color: var(--menu);
}

.navegacion span {
    color: var(--textoAlt);
}

.scrollup  {
    display: none;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    background-position: center center;
    background: var(--border);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding-top: .3rem;
}

input.form-control.form-control-sm, .custom-select.custom-select-sm.form-control.form-control-sm {
    float: right;
    margin: 0 1rem;
}

/* Estilos de tabla */
table {
	background-color: var(--backwhite);
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th, td {
	padding: 20px;
}

thead {
	background-color: var(--menu);
	border-bottom: solid 5px var(--border);
	color:var(--backwhite);
}

tr:nth-child(even) {
	background-color: var(--clrtr);
}

tr:hover td {
	background-color: var(--border);
    color: var(--escritorio);
    transition: all .3s ease;
}
tr td {
    color: var(--texto);
    transition: all .3s ease;
}

.area-agregar {
    margin: 1rem 0 2rem;
}

/* Modal*/

.modal-header {
    background: var(--menu);
    border-bottom: solid 4px var(--border) !important;
    color: #fff;
}
.modal-header .close {
    color: #fff;
}


.modal-body{
    position: relative;
    display: flex;
}


.modal-footer {
    border-top: solid .4rem #414da3 !important;
    background: #838ecd;
}

.btn-outline-danger {
    color: var(--border) !important;
    border-color: var(--border) !important;
}

.btn-outline-danger:hover {
    color: white !important;
    border-color: var(--border) !important;
}

.button-guardar {
    display: flex;
    justify-content: center;
}

.btn-primary {
    padding-right: 2rem;
    padding-left: 2rem;
}

.users-container {
    padding: 0 3rem;
}