:root {

    /*backgroundWizard*/
    --widback:#838ecd;
    /*colorNavsTabs*/
    --coloNavTab:#e3e6e4;
    /*colorImputEmpre,categoria,giro,btndash,iconoIMage,btnSubirArchivos*/
    --whiteemp:#fff;
    /*BAckgorundSelectCategoria,btnwizard,btndash*/
    --backCate:#414da2;
    /*borderbtnWizard*/
    --borderwid: #414da3;
    /*colorIconoIMagen*/
    --iconimagen:#838ECD;
    /*background btnfile*/
    --backfile:#B4BAE0;
    /*color btnfile*/
    --colfile:#8591CF;
    /*placeholder*/
    --placeholder:#cdd2eb;
    --tabul:#515985;
    --bxswtab:#acb1ca;

    --menu:#6a76be;
    --escritorio:#cfd4ed;
    --texto:#5866b7;
    --textoAlt: #737ec2;
    --textoOscuro: #3b4996;
    --border:#293582;
    --cite:#cccccd;
  }



.content {
    background-color: var(--escritorio);
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    min-width: 100vw;
    margin-left: 2rem;
    flex-direction: column;
}
body.pace-done {
    background: var(--escritorio);
}

.fondo > img  {
    position: initial;
    display: block;
    /*background: url(../images/imge1.png);*/
    max-width: 100%;
    width: 100%;
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
    /*margin-left: -1.5rem;*/
    margin-top: 0rem;
}
.tabs {
    margin-bottom: 0;
}

.wrap {
    flex-basis: 90%;
    margin: 0rem 6rem;
    margin-bottom: 2rem;
}

ul.tabs {
    width: 100%;
    background-color: var(--tabul);
    list-style: none;
    display: flex;
    padding-left: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

ul.tabs a {
    width: 50%;
    text-align: center;
    text-decoration: none;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

ul.tabs a li {
    color: var(--whiteemp);
    font-size: 1.6rem;
}
ul.tabs > a.active {
    background: var(--menu) !important;
    color: #fff !important;
    transition: all .3s ease;
    background-color: var(--border);
    border-bottom: 4px solid var(--border);

}

.active {
    background-color: var(--border);
}

.tabs_content {
    width: 100%;
    background-color: var(--whiteemp);
    box-shadow: 0.2rem 0.3rem var(--bxswtab);

}

.tabs_content section {
    padding: 0.3rem;
}

.tabla {
    margin-top: 2rem;
}

table{
	background-color: var(--whiteemp);
	text-align: left;
	border-collapse: collapse;
    width: 100%;
}

th, td{
	padding: 20px;
}

thead{
	background-color: var(--menu);
	border-bottom: solid 5px var(--border);
	color: var(--whiteemp);
}
td{
  text-align: center;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: var(--border);
    color: var(--escritorio);
    transition: all .3s ease;
}
tr td{
    color: var(--texto);
    transition: all .3s ease;
}
#table_estudios_info {
    color: var(--border);
}

input.form-control.form-control-sm,
.custom-select.custom-select-sm.form-control.form-control-sm {
    border: solid 1.5px var(--border);
    color: var(--border);
}
.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgb(161, 165, 187) !important;
}
label {
    color: var(--border);
}
#table_estudios_filter {
    display: flex;
    padding-left: 8rem;
    position: relative;
}
div#table_estudios_info {
    display: none;
}

.area-estudios {
    display: flex;
    max-width: 100%;
    overflow-x: auto;
}

.cuadro-estudio {
    position: relative;
    margin: 1rem;
    min-width: 11rem;
    width: 11rem;
    line-height: 3;
    padding: 0.5rem;
    border: 0.1rem solid #29358279;
    box-shadow: 0.2rem 0.3rem 10px #acb1ca;
    text-overflow: ellipsis;
    word-wrap: break-word;
    background-color: #cfd4ed3b;
    color: var(--menu);
    border-radius: 15px;
    transition: all .5s ease;
}
.cuadro-estudio:hover{
    transform: scale(1.05);
    border-radius: 5px;
    transition: all .5s ease;
}

.cuadro-estudio h5 {
    font-size: 1rem;
    font-weight: 600;
}

.cuadro-estudio p {
    margin-bottom: 0.2rem;
    font-size: 0.8rem;
}

.cuadro-estudio span {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
}

#tab_principal {
    padding: 0.5rem 2rem;
}

.nombre-empleado {
    background-color: var(--texto);
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.nombre-empleado h1 {
    /*font-size: 1.2rem;*/
    margin-top: 0;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0;
    font-weight: lighter;
    color: var(--whiteemp);
}

.programar-estudio button {
    color: var(--whiteemp);
    background-color: var(--menu);
}

.main-title {
    margin-top: 1.5rem;
}

.contenedor {
    padding: 0 1.5rem;
}

.contenedor table tr th:last-of-type {
    font-weight: normal;
}

.btn-personalizado {
    display: flex;
    justify-content: center;
}
.btn-personalizado1 {
    padding-top: 1rem;
}
.btn-personalizado button {
    color: var(--whiteemp);
    background-color: var(--menu);
}
/*modal*/

.modal-header {
    background: var(--menu);
    border-bottom: solid 4px var(--border) !important;
    color: var(--whiteemp);
}
.modal-header .close {
    color: var(--whiteemp);
}


i.fa.fa-file-alt.fa-fw.icon {
    padding: 13px;
    position: relative;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    display: inline-block;
    background: var(--colfile);
    font-size: 10px !important;
    margin-bottom: 10px;
    margin-right: 10px;
}


i.fa.fa-file-alt.fa-fw.icon:before {
    color: var(--whiteemp);
    font-size: 4.3rem;
}


.links {
    color: #5866b7;
    position: relative;
    text-decoration: none;
    display: inline-block;
    vertical-align: 1rem;
}


.links:hover {
    color: #5866b7;
}

.modal-body{
    position: relative;
    display: flex;
}


.categoria {
    flex:0 0 40%;
    max-width: 40%;
    height: auto;
    margin-right: .3rem;
    border-right: solid .2rem var(--borderwid) ;
    padding: inherit;
}

.estudios{
    flex: 0 0 60%;
    height: auto;
    max-width: 60%;
    margin-left: .3rem;
    border-left: solid .2rem var(--borderwid) ;
    padding: inherit;
}

.categoria .estudios{
    position: relative;
    width: 100%;
}

.actives{
    background: var(--borderwid) !important;
}

.custom-control{
    display: flex !important;
    flex-wrap: wrap;
}

.custom-control-label{
    font-weight: normal !important;
    color: #5866b7;
}

.custom-control-label::after {
    width: 1.5rem;
    height: 1.5rem;
    left: -2rem;
}

.custom-control-label::before {
    width: 1.5rem;
    left: -2rem;
    height: 1.5rem;
    border-radius: 50% !important;
}

.custom-control-input:checked~.custom-control-label::before {
    color: var(--whiteemp);
    border-color: #838ecd;
    background-color: #838ecd;
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(183, 187, 208, 0.66);
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: #838ecd;
}

.col-6.estudios_input.Laboratorio {
    padding-bottom: 1rem;
}

.modal-footer {
    border-top: solid .4rem #414da3 !important;
    background: #838ecd;
}

#myModal{
    overflow-y: scroll;
}
#myModal::-webkit-scrollbar{
    width: 12px;
    background-color: #F5F5F5;
}
.btn-primary{
    background-color: var(--menu) !important;
    border-color: var(--border) !important;
    color: var(--whiteemp);
    }
.btn-outline-danger:hover {
    color: var(--whiteemp) !important;
    background-color: var(--border)!important;
    border-color: var(--border)!important;
}
.btn-outline-danger {
    color: var(--border) !important;
    border-color: var(--border)!important;
}
.datos-empleado > h2, .expediente > h2, .resultados >h2{
    margin-bottom: 0.5rem;
    padding: 0.5rem 0;
    font-weight: lighter;
    color:#6a76be;
    text-align: center;
    font-size: 3rem;
}
.estudios-programados >h2{
    margin-bottom: 0.5rem;
    padding: 0.5rem 0;
    font-weight: lighter;
    color:#6a76be;
    text-align: center;
    font-size: 3rem;
}
.area-estudios >p {
    margin-bottom: 0.5rem;
    padding: 0.5rem 0;
    font-weight: lighter;
    color:#6a76be;
    text-align: justify;
    font-size: 1.3rem;
}
/*formato tablas*/
.info {
    background:#6a76be;
    /*border: 1px solid white !important;*/
    color:var(--whiteemp);
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    width: 15rem;

}
.info1{
    background:var(--escritorio) ;
    color: var(--border);
    font-weight: lighter;
    text-align: center;
    border:1px solid var(--whiteemp);
}
.estudios-por-programar {
   /* border: 0.07rem solid black;*/
    padding: 1rem 1rem 1rem 2rem;
    height: 8rem;
    overflow-y: scroll;
    margin-top: 2rem;
    box-shadow: 5px 5px 19px #6a76be;

}

.estudios_input2 {
    margin-bottom: 1rem;
}
.expediente >h1, .resultados >h1  {
    color: var(--texto);
}
/*Expediente*/
#expediente{
    position: relative;
    display: flex;
}
.expediente, .resultados{
    position: relative;
    width: 100%;
    display: block;
    box-sizing: border-box;
}
.expediente{
    max-width: 60%;
    flex: 0 0 60%;
    border-right: solid 2px var(--widback);
    margin-right: 1px;
}
.resultados{
    max-width: 40%;
    flex: 0 0 40%;
    border-left: solid 2px var(--widback);
    margin-left: 1px;
}

/* .options {
    text-align: center;
    padding: 1rem;
    position: relative;
    display: block;
}
.options > button.btn.btn-outline-info {
    margin-right: 3rem;
    color:var(--whiteemp)
} */

.options {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

#formExpedienteActual {
    margin-right: 2rem;
}

.seccion-navegacion {
    margin-top: 1rem;
    margin-bottom: 0.6rem;
}

.navegacion {
    color: var(--textoOscuro);
    margin-bottom: 0;
}

.navegacion a {
    text-decoration: none;
    color: var(--textoOscuro);
}

.navegacion a:hover {
    text-decoration: none;
    color: var(--menu);
}

.navegacion span {
    color: var(--textoAlt);
}

#load>span {
    display: block;
    position: relative;
    color: #6a76be;
    font-weight: 300;
    font-size: 1.2rem;
}
#load {
    display: block;
    position: relative;
    text-align: center;
}

.form-group > h4 {
    color: var(--texto);


}
.form-group > p{
    color: var(--iconimagen);

}

.scrollup  {
    display: none;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    background-position: center center;
    background: var(--border);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding-top: .3rem;


}
#inputCurp{
  text-transform:uppercase;
}

#modal-dialog-nota {
    width: 60rem;
    max-width: 60rem;
}

#modal-dialog-nota h4 {
    color: white;
}

#loadIndicadores {
    display: flex;
    flex-direction: column;
    align-items: center;
}
