/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

:root {

    --menu:#6a76be;
    --escritorio:#cfd4ed;
    --texto:#838ecd;

  }
  body {
    background: #599fd9;
    background: -webkit-linear-gradient(to right, #599fd9, #c2e59c);

    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .vertical-nav {
    min-width: 5rem;
    width: 5rem;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
    background: var(--menu);
    overflow-y: auto;
    overflow-x: hidden;
  }
  .nav-link.text-dark {
      background: var(--menu);
      transition: all .5s ease;
  }
  .nav-link.text-dark:hover {
      background: var(--escritorio);
      transition: all .5s ease;
  }

  .nav-link.text-dark>i:hover{
      color: var(--menu);

  }
  .fa, .far, .fas{
     color:#fff ;
  }

  button.nav-link.text-dark {
      border: none;
      width: 80px;
  }


  /* for toggle behavior */

  #sidebar.active {
    margin-left: -17rem;
  }

  #content.active {
    width: 100%;
    margin: 0;
  }

  .nav-item {
       text-align: center;
  }
  .nav-link {
      font-size: 28px;
      transition: all .5s ease;
  }
  .nav-link:hover {
      font-size: 33px;
      transition: all .5s ease;

  }
  .logout {
      width: 80px;
      position: absolute;
      bottom: 0;
      display: block;
      border-top: solid 3px #ffff;
  }
  ul.nav.flex-column.bg-white.mb-0 {
    border-top: solid 3px #ffff;
}
.py-2.px-1.mb-1 {

    position: relative;
    display: block;
}
.media.d-flex.align-items-center:first-child {
    margin-bottom: .5rem;
}
.img-thumbnail {
    background-color: #fff !important;

}
img.mr-3.rounded-circle.img-thumbnail.shadow-sm {
    position: relative;
    display: block;
    width: 4.5rem;
    height: 4.5rem;
    padding: .15rem !important;
}

li.nav-item:hover > a >i{
    color: var(--menu);
}

.n1:hover > button >i ,.n2:hover > form > button >i{
    color: var(--menu);
}

.actived {
    background: var(--escritorio) !important;
    transition: all .5s ease !important;
}
.actived>i{
    color: var(--menu) !important;
}

.scrollmenu{
    background: aqua;
}

/*menu hover
.mendes ul  li{
  list-style-type:none;
  position:fixed;
  vertical-align: middle;
  /*width:120px;*/
  }

/*.mendes ul li a{
  text-decoration:none;
  display:inline-block;
  padding:5px 10px;
  /*width:120px;
  height:30px;
  border:1px solid #000;
  color:#fff;
  background-color:#000;*/
  }

  /*.liclas{list-style-type: none;
    position: fixed !important;
    /* width: 82px; */
    /* top: 11rem; */
  /*--  padding: 1rem;
    background: #6a76be;
    color: #cfd4ed;
    font-weight: lighter;
    font-size: 19px;
    /* height: 5.5rem; */
  /*  border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    transition: all .5s ease;
  }


/*  li a:hover{
  color:#000 !important;
  background-color:#fff !important;

  }*/

/*  nav li ul{
      display:none;
      position:absolute;
      top:0px;
      left:40px;
      background: var(--escritorio);
      color: white;

  }

  nav li:hover ul{display:block;}
*/

@media only screen and (max-height: 504px) {
    .logout {
      position: relative;
    }
  }
