:root {

    --menu:#6a76be;
    --escritorio:#cfd4ed;
    --texto:#5866b7;
    --border:#293582;
    --cite:#cccccd;
    --textoAlt: #737ec2;
    --textoOscuro: #3b4996;
    --white:#ffff;
  }

.content {
    background-color: var(--escritorio);
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin-left: 5rem;
    flex-direction: column;
}

.fondo > img  {
    position: relative;
    display: block;
    /*background: url(../images/imge1.png);*/
    max-width: 100%;
    width: 100%;
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
    /*margin-left: -1.5rem;*/
    margin-top: 0rem;
}

.tabs_nav {
    display: block;
    justify-content: center;
    /*margin-top: 2rem;*/
    padding: 0;
    margin: 0 1rem;
}

.tabs {
    margin-bottom: 0rem;
}

.wrap {
    flex-basis: 90%;
    margin-right: 5rem;
}

ul.tabs {
    width: 100%;
    background-color: #515985;
    list-style: none;
    display: flex;
    padding-left: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

ul.tabs a {
    width: 50%;
    text-align: center;
    text-decoration: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

ul.tabs a li {
    color: white;
    font-size: 1.6rem;
}

ul.tabs > a.active {
    background: var(--menu) !important;
    color: #fff !important;
    transition: all .3s ease;
    background-color: var(--border);
    border-bottom: 4px solid var(--border);
}


.tabs_content {
    width: 100%;
    background-color: white;
    box-shadow: 0.2rem 0.3rem #acb1ca;

}

.tabs_content section {
    padding: 0.3rem;
}

.tabla {
    margin-top: 2rem;
}
table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	padding: 20px;
}

thead{
	background-color: var(--menu);
	border-bottom: solid 5px var(--border);
	color: #fff;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: var(--border);
    color: var(--escritorio);
    transition: all .3s ease;
}
tr td{
    color: var(--texto);
    transition: all .3s ease;
}
#tabla-empleados_info {
    color: var(--border);
}
#tabla-grupos_info {
    color: var(--border);
}

/**/
input.form-control.form-control-sm, .custom-select.custom-select-sm.form-control.form-control-sm {
    border: solid 1.5px var(--border);
    color: var(--border);
   margin-left: 1rem;
}
.form-control.form-control-sm {
    position: relative;
    display: flex;
    float: right;
}


.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgb(161, 165, 187) !important;
}

.btncen{
    /*margin-left: 45rem;*/
    margin-top: 2rem;
}

label {
    color: var(--border);
}
#table_estudios_filter {
    display: flex;
    padding-left: 8rem;
    position: relative;
}

.page-item.active .page-link {
    background-color: var(--menu) !important;
    border-color: var(--border) !important;
}
.active {
    background: var(--menu) !important;
    color: #fff !important;
    transition: all .3s ease;


}
.titulo {
    background-color: var(--texto);
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.titulo h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0;
    font-weight:lighter;
    color: white;
}


.btn-personalizado {
    color: white;
    background-color: var(--menu);
}

#tabla-grupos {
    padding: 1.5rem 0;
}
.sorting {
    width: 20% !important;
}


/* modal*/

.modal-header {
    background: var(--menu);
    border-bottom: solid 4px var(--border) !important;
    color: #fff;
}
.modal-header .close {
    color: #fff;
}


.modal-body{
    position: relative;
    display: flex;
}


.modal-footer {
    border-top: solid .4rem #414da3 !important;
    background: #838ecd;
}


.seccion-navegacion {
    margin-top: 1rem;
    margin-bottom: 0.6rem;
}

.navegacion {
    color: var(--textoOscuro);
    margin-bottom: 0;
}

.navegacion a {
    text-decoration: none;
    color: var(--textoOscuro);
}

.navegacion a:hover {
    text-decoration: none;
    color: var(--menu);
}

.navegacion span {
    color: var(--textoAlt);
}
.btn-outline-danger:hover {
    color: #fff !important;
    background-color: var(--border)!important;
    border-color: var(--border)!important;
}
.btn-outline-danger {
    color: var(--border) !important;
    border-color: var(--border)!important;
}

.scrollup  {
    display: none;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    background-position: center center;
    background: var(--border);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding-top: .3rem;
}

a.btn.btn-sm.btn-info,a.btn.btn-sm.btn-danger{
  color: var(--white);

}
.alert-warning {
    color: #f8f9fa !important;
    background-color: var(--texto) !important;
    border-color: #6a76be80 !important;
}
