::-webkit-scrollbar{
   width: 7px !important;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track{
  -moz-border-radius:10px;  border-radius: 10px;
    background-color: var(--escritorio)
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: var(--menu);}

html{
overflow-y:scroll;
scrollbar-color:var(--menu) var(--escritorio);
scrollbar-width:thin;
border-radius:10px;
-moz-border-radius: 15px;
}
