:root {

  --menu:#6a76be;
  --escritorio:#cfd4ed;
  --texto:#838ecd;

}

.mensaje{
  position: absolute;
  top: 0;
  right: 2rem;

  color: var(--texto);
}

.mensaje > h1{
  font-weight: 200;
  font-size: 4rem;
}

body{
background:var(--texto)!important;
}

.content_margin {
  min-width: 768px;
  margin-left: 5rem;
  transition: all 0.4s;
  position: relative;
  display: block;

}


.int {
  position: absolute;
  display: block;
  max-width: 100%;
  bottom: 12.6rem;
  right: 7rem;
}
.int > h1{
  color: var(--texto);
  font-size: 125px;
  font-weight: bold;
}
.content_present{
  min-width: 768px;
    background-image: url(../images/15053.jpg);
    position: relative;
    display: block;
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -100px
}
.content_menu{
  position: relative;
  display: block;
  width: 100%;
  height: 40vh;
}
.content_text{
  position: relative;
  display: block;
}

.content_text > h1, .content_text > h3{
  display: block;
  position: relative;
  font-weight: 100;
  font-size: 40px !important;
  color: var(--escritorio);
 margin: 0px 0px 0px 80px;
}

.content_text > h1 {
    margin-top: 15px;
    font-size: 5rem;
}

.reference{
  position: relative;
  display: flex;
  padding: 20px 90px 0px 30px;
  text-align: center;
}

.reference > div{
  position: relative;
  display: inline-block;
  width: 400px;

}
.reference > div > h3{
  color: var(--escritorio);
  font-weight: 200;
  /*font-size: 15px;*/

}

.reference .fas, .reference .far {
    color: var(--menu);
    position: relative;
    display: block;
    font-size: 50px;
    transition: all .3s ease;

}

.reference > div > a{
  background: #fff;
  border-radius: 50%;
  border: 5px double var(--menu);
  width: 130px;
  height: 130px;
  position: relative;
  display: block;
  margin: 0px auto 5px auto;
  padding-top: 33px;
  transition: all .3s ease;

}


.reference > div > a:hover{
transform: scale(1.1);
transition: all .3s ease;
text-decoration: none;
}


@media (min-width: 608px) and (max-width: 900px) {
  .int{
  position: absolute;
  display: flex;
  max-width: 100%;
  bottom: 42.7rem;
  right: 0rem;
  }
  .content_present{
    width: 100%;
    height: 30vh;
  }
  .reference{
  position: relative;
  display: flex;
  padding: 2.5px 50px 0px 50px;
  text-align: center;
}
  .reference > div > a{

  margin: 62px auto 5px auto;
}
  .reference > div{
  width: 150px;
}
  .reference > div > h3{
  font-size: 25px;
}
  }
