#button-exit{
margin-top: 9%;
float: right;
}

#button-exit{
display:inline-block;
position:relative;
}

#button-exit a{
width: 200px;
height: 30px;
position: absolute;
bottom:4em;
right:1em;
background-color:#008080;
border-radius:1.5em;
color:white;
text-transform:uppercase;
padding:0.2em 1.7em;
}
#button-exit a:hover{
background-color:#5F9EA0;
cursor:pointer;
color:white;
}
