table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	padding: 20px;
}

thead{
	background-color: var(--menu);
	border-bottom: solid 5px var(--border);
	color: #fff;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: var(--border);
    color: var(--escritorio);
    transition: all .3s ease;
}
tr td{
    color: var(--texto);
    transition: all .3s ease;
}
#table_estudios_info {
    color: var(--border);
}

input.form-control.form-control-sm,
.custom-select.custom-select-sm.form-control.form-control-sm {
    border: solid 1.5px var(--border);
    color: var(--border);
}
.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgb(161, 165, 187) !important;
}
label {
    color: var(--border);
}
.page-item.active .page-link {
    background-color: var(--menu) !important;
    border-color: var(--border) !important;
}